<div class="tbl-wrapper">
    <div class="header">
        <button class="new-campaign" (click)="alert()">Create Campaign</button>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <p>Manage</p>
            <img src="assets/Collapse.svg" alt="collapse" (click)="toggle()" class="arrow-collapse" id="arrow_collapse">
        </div>
        <div class="sidebar-menu" id="sidebar_menu">
            <p class="campaign"><img src="assets/CampaignIcon.svg" alt="" width="20px">Campaign</p>
            <p class="selected">
                <span class="selected-num">{{selected_count}}</span> selected
                <img src="assets/close.png" alt="close" class="close" (click)="clearSelected()"></p>
        </div>
    </div>
    <data-table (selected_number)="addSelectedCount($event)" [selected_count]="selected_count"></data-table>
</div>